.body {
  background-color: var(--surface-primary);
  color: var(--text-primary);
  padding: var(--spacing-400) var(--spacing-200);
  font-family: var(--font-sans);
  display: flex;
  justify-content: center;
  align-items: center;
}

.showcase {
  display: var(--display-flex);
  gap: var(--spacing-400);
  flex-direction: var(--flex-direction-column);
}

.header {
  background-color: var(--surface-brand-primary);
  color: var(--text-inverse);
  padding: var(--spacing-500) var(--spacing-400);
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  gap: var(--spacing-300);
  text-align: center;
  border-radius: var(--radius-md); /* TODO: REDUCE DUPLICATE*/

  .header__heading {
    font-weight: var(
      --font-weight-medium
    ); /* TODO: CONSIDER CHANGING THIS TO A SEMANTIC TOKEN */
    letter-spacing: calc(
      var(--tracking-tightest) + 0.01rem
    ); /* TODO: CONSIDER CHANGING THIS TO A SEMANTIC TOKEN */
    line-height: var(
      --leading-tight
    ); /* TODO: CONSIDER CHANGING THIS TO A SEMANTIC TOKEN */
    font-size: var(--text-heading-xxl);

    & span {
      color: var(--text-accent);
    }
  }

  .header__body {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
    gap: var(--spacing-100);
  }

  .header__stars {
    display: var(--display-flex);
    gap: var(--spacing-100);
    justify-content: center;
  }
  .header__reviews {
    font-size: var(--text-body-lg);
    line-height: var(--leading-snug);
  }
}

.account {
  background-color: var(--surface-white);

  /* TODO: REDUCE DUPLICATE*/
  border-radius: var(--radius-md);
  padding: var(--spacing-200);
  display: var(--display-flex);
  gap: var(--spacing-200);
  flex-direction: var(--flex-direction-column);
  /* TODO: REDUCE DUPLICATE*/

  overflow: hidden;

  .account__wrapper {
    display: var(--display-flex);
    gap: calc(var(--spacing-150) - 2px);
  }
}

.account__icon {
  block-size: calc(var(--size-lg) + 0.1588rem);
  inline-size: calc(var(--size-lg) + 0.1588rem);
  display: var(--display-flex);
  justify-content: center;
  align-items: center;
  background-color: var(--surface-accent);
  border-radius: var(--radius-full);
}

.account__item {
  padding: var(--spacing-150) calc(var(--spacing-150) * 2) var(--spacing-150)
    var(--spacing-150);
  border-radius: var(
    --radius-full
  ); /* TODO: CONSIDER CHANGING THIS TO A SEMANTIC TOKEN */
  box-shadow: var(--shadow-lg);
  display: var(--display-flex);
  gap: var(--spacing-100);
  align-items: center;

  .account__details {
    display: var(--display-flex);
    flex-direction: var(--flex-direction-column);
    gap: var(--spacing-50);

    .account__username {
      font-size: var(--text-heading-md);
      font-weight: var(--font-weight-medium);
      line-height: var(--leading-tight);
      letter-spacing: -0.96px; /* TODO: TOKENIZE THIS */
    }

    .account__followers {
      color: var(--text-muted);
      font-size: var(--text-body-sm);
      line-height: normal;
      letter-spacing: -0.36px; /* TODO: TOKENIZE THIS */
      white-space: nowrap;
    }
  }
}

.schedule {
  background-color: var(--surface-accent);
  overflow: hidden;

  /* TODO: REDUCE DUPLICATION*/
  border-radius: var(--radius-md);
  padding: var(--spacing-200) var(--spacing-200) 0;
  display: var(--display-flex);
  gap: var(--spacing-200);
  flex-direction: var(--flex-direction-column);
  /* TODO: REDUCE DUPLICATION*/

  height: fit-content;

  .calendar__wrapper {
    display: var(--display-flex);
    height: 8.5625rem;
    overflow: hidden;
  }
}

.insights {
  background-color: var(--surface-brand-secondary);

  /* TODO: REDUCE DUPLICATION*/
  border-radius: var(--radius-md);
  padding: var(--spacing-400) var(--spacing-200);
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  gap: var(--spacing-300);

  justify-content: center;
  align-items: center;

  .insights__heading,
  .insights__caption {
    text-align: center;
  }

  .insights__caption {
    font-size: var(--text-body-lg);
    line-height: var(--leading-snug);
    max-inline-size: var(--text-width-xl);
  }
}

.chart-illustration {
  width: min(22.3125rem, 100%);
  height: fit-content;
}

.growth {
  background-color: var(--surface-brand-primary);
  display: var(--display-flex);
  justify-content: center;
  align-items: center;

  /* TODO: REDUCE DUPLICATION*/
  border-radius: var(--radius-md);
  padding: var(--spacing-300);
}

.growth__heading {
  color: var(--text-inverse);
  text-align: center;
  letter-spacing: var(--tracking-tightest);
}

.growth-illustration {
  width: min(14.25rem, 100%);
  height: fit-content;
}

.growth--wrapper {
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  gap: calc(var(--spacing-550) + 0.21rem);
  width: min(32.57rem, 100%);
  align-items: center;
}

.account__item--generic {
  position: absolute;
  bottom: -0.7rem;
  right: -17.5%;
  border-radius: calc((var(--radius-sm) * 4) + 0.14rem);
  padding: calc(var(--spacing-150) + 0.04rem);
  display: var(--display-flex);
  gap: var(--spacing-100);
  align-items: center;
  background-color: var(--surface-white);

  .account__icon img {
    width: fit-content;
  }

  .account__details {
    /* width: min(110px, 100%); */
    .account__username {
      color: var(--text-muted);
      font-size: var(--text-heading-xs);
      line-height: var(--font-weight-normal);
      letter-spacing: -0.0225rem;
      font-weight: var(--font-weight-normal);
    }

    .account__followers-growth {
      display: flex;
      gap: calc(var(--spacing-150) + 0.04rem);
    }
    .account__followers {
      color: var(--text-primary);
      font-size: var(--text-body-lg);
      font-weight: var(--font-weight-medium);
      line-height: var(--leading-snug);
      letter-spacing: -0.075rem;
    }
  }
}

.chart {
  border-radius: var(--radius-md);
  background-color: var(--surface-white);
  padding: calc(var(--spacing-300) + var(--spacing-50) + 0.6px);
  position: relative;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  /* gap: var(--spacing-150); */
}

.chart__heading {
  color: var(--text-muted);
  font-weight: var(--font-weight-normal);
  font-size: var(--text-heading-xs);
}

.chart__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.chart__followers {
  font-weight: var(--font-weight-medium);
  font-size: calc(var(--spacing-300) + var(--spacing-50) + 1.7px);
}

.chart__bars {
  width: 150px;
}

.badge {
  width: 39px;
  height: 17px;
  border-radius: calc(var(--radius-md) - 3px);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-body-xs);
  color: var(--status-positive);
  background-color: var(--status-positive-secondary);
}

.audience {
  display: var(--display-flex);
  flex-direction: var(--flex-direction-column);
  gap: var(--spacing-300);
  padding: var(--spacing-300);
  border-radius: var(--radius-md);
  background-color: var(--surface-white);
}

.audience__header {
  display: var(--display-flex);
  gap: 1rem;
  flex-direction: var(--flex-direction-column);
}

.audience__heading {
  font-size: var(--text-heading-xxl);
  font-weight: var(--font-weight-medium);
  line-height: var(--leading-tight);
  display: flex;
  align-items: center;

  /* .audience__arrow {
  } */
}

.audience__caption {
  line-height: var(--leading-snug);
  font-size: var(--text-body-lg);
}

.audience__avatars {
  position: relative;
  width: min(11.125rem, 100%);

  & > div {
    width: 100%;
  }

  & > div:not(:first-child) {
    inset-block-start: 0;
    position: absolute;
  }
}

.avatar {
  display: var(--display-flex);
}

.avatar {
  border-radius: var(--radius-full);

  &.avatar--annie {
    .avatar__image {
      background-color: var(--surface-brand-secondary);
    }
  }
  &.avatar--michael {
    .avatar__image {
      background-color: var(--surface-accent-slight);
    }
  }
  &.avatar--todd {
    .avatar__image {
      background-color: var(--surface-brand-secondary);
    }
  }
}

.avatar__image {
  border-radius: var(--radius-full);
  display: var(--display-flex);
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.avatar--michael {
  justify-content: center;
}
.avatar--todd {
  justify-content: end;
}

.cta {
  display: var(--display-flex);
  gap: var(--spacing-300);
  flex-direction: var(--flex-direction-column);
  padding: var(--spacing-400);
  background: var(--surface-accent-soft);
  border-radius: var(--radius-md);
  overflow: hidden;
}

.cta__heading {
  width: calc(var(--text-width-md) + 1ch);
  > em {
    display: inline-flex;
    color: var(--text-brand);
  }
}

.cta-btn-illustration {
  width: min(11.9rem, 100%);
}

.cta__button {
  display: var(--display-flex);
  gap: var(--spacing-150);
  width: fit-content;
  padding: 1.0737rem 1.6106rem;
  border-radius: var(--radius-full);
  border: 0;
  color: var(--text-brand);
  background-color: var(--surface-accent);
  font-weight: var(--font-weight-semibold);
  font-size: calc(var(--text-body-lg) + 1.329px);
  align-items: center;
}

.cta__button-container {
  position: relative;
  width: fit-content;
  display: flex;
  justify-content: center;
}

.cta__cursor {
  position: absolute;
  /* left: 50%; */
  bottom: -35%;
  /* translate: -50% 0; */
}

.composition {
  display: var(--display-flex);
  gap: var(--spacing-300);
  flex-direction: var(--flex-direction-column);
  padding: var(--spacing-300);
  background: var(--surface-accent);
  border-radius: var(--radius-md);
}

.composition__heading {
  will-change: transform;
  width: calc(var(--text-width-md));
}

.composition__heading * {
  will-change: transform;
}

.chat-illustration {
  width: min(13.75rem, 100%);
}
