@import "reset.css";
:root {
  /* CORE TOKENS */
  --color-white: hsla(0, 0%, 100%);
  --color-off-white: hsla(300, 5%, 96%, 1);
  --color-black: hsla(0, 0%, 7%);
  --color-gray: hsla(0, 0%, 62%);
  --color-yellow-100: hsla(31, 56%, 93%);
  --color-yellow-500: hsla(39, 100%, 71%);
  --color-purple-100: hsla(241, 88%, 92%);
  --color-purple-500: hsla(256, 67%, 59%);

  /* FONT SIZE */
  --font-size-xs: 0.5rem;
  --font-size-sm: 0.75rem;
  --font-size-md: 0.875rem;
  --font-size-base: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-2xl: 1.5rem;
  --font-size-3xl: 1.625rem;
  --font-size-4xl: 1.75rem;
  --font-size-5xl: 2rem;
  --font-size-6xl: 2.125rem;
  --font-size-7xl: 2.25rem;
  --font-size-8xl: 2.375rem;
  --font-size-9xl: 2.5rem;
  --font-size-10xl: 2.875rem;
  --font-size-11xl: 3rem;
  --font-size-12xl: 3.375rem;
  --font-size-13xl: 3.5rem;
  --font-size-14xl: 3.875rem;

  /* LINE HEIGHT */
  --leading-tight: 0.9;
  --leading-snug: 1.1;
  --leading-normal: 1.5;

  /* LETTER SPACING */
  --tracking-none: 0rem;
  --tracking-tightest: -0.125rem;
  --tracking-crunched: -0.1875rem;

  /* SPACING */
  --spacing-100: 0.5rem;
  --spacing-200: 1rem;
  --spacing-300: 1.5rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;

  /* BORDER RADIUS */
  --radius-sm: 0.5rem;
  --radius-md: calc(var(--radius-sm) * 1.25);

  --font-weight-regular: 400;
  --font-weight-medium: 500;

  --font-sans: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;

  /* SEMANTIC TOKENS - Default Theme */
  --surface-primary: var(--color-off-white);
  --surface-white: var(--color-white);
  --surface-brand-primary: var(--color-purple-500);
  --surface-brand-secondary: var(--color-purple-100);
  --surface-accent: var(--color-yellow-500);
  --surface-accent-soft: var(--color-yellow-100);

  --text-primary: var(--color-black);
  --text-inverse: var(--color-white);
  --text-brand: var(--color-purple-500);
  --text-accent: var(--color-yellow-500);
  --text-muted: var(--color-gray);

  --text-heading-xxl: var(--font-size-10xl);
  --text-heading-xl: var(--font-size-5xl);
  --text-heading-lg: var(--font-size-3xl);
  --text-heading-md: var(--font-size-base);
  --text-heading-sm: var(--font-size-md);
  --text-heading-xs: var(--font-size-sm);

  --interactive-primary: var(--color-purple-500);
  --interactive-secondary: var(--color-yellow-500);

  --status-positive: #22c55e;
  --status-info: var(--color-purple-500);
  --status-warning: var(--color-yellow-500);
}

.body {
  background-color: var(--surface-primary);
  color: var(--text-primary);
  padding: var(--spacing-400) var(--spacing-200);
  font-family: var(--font-sans);
}

.showcase {
  display: flex;
  gap: var(--spacing-400);
  flex-direction: column;
}

.header {
  background-color: var(--surface-brand-primary);
  color: var(--text-inverse);
  padding: var(--spacing-500);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-300);
  text-align: center;
  border-radius: var(--radius-md);

  .header__heading {
    font-weight: var(
      --font-weight-medium
    ); /* TODO: CONSIDER THIS USE OF PRIMITIVES */
    letter-spacing: calc(
      var(--tracking-tightest) + 0.16px
    ); /* TODO: CONSIDER THIS USE OF PRIMITIVES */
    line-height: var(
      --leading-tight
    ); /* TODO: CONSIDER THIS USE OF PRIMITIVES */
    font-size: var(--text-heading-xxl);

    & span {
      color: var(--text-accent);
    }
  }

  .header__body {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-100);
  }

  .header__stars {
    display: flex;
    gap: var(--spacing-100);
    justify-content: center;
  }
}

@media (min-width: 767px) {
  :root {
    --text-heading-xxl: var(--font-size-12xl);
  }
}
