/* UTILITY CLASSES */
.heading {
}

.heading--2 {
  font-size: var(--text-heading-xl);
  line-height: var(--leading-tight);
  font-weight: var(--font-weight-medium);
  letter-spacing: var(--tracking-tighter);
}
.heading--3 {
  font-size: var(--text-heading-lg);
  line-height: var(--leading-tight);
  font-weight: var(--font-weight-medium);
  letter-spacing: -0.12rem; /* TODO: TOKENIZE THIS */
}

.section {
  opacity: 0;
  visibility: hidden;
  scale: 0;
}

.avatar--sm {
  inline-size: calc(var(--size-7) - 0.125rem);
  block-size: calc(var(--size-7) - 0.125rem);
}

.truncate--multi {
  display: -webkit-box; /* flex-like for webkit */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4; /* number of lines */
  overflow: hidden; /* cut off extra */
}

/* 
.split--word,
.split-mask--word-mask {
  clip-path: inset(0% 0% -14%);
} */

#calendar-date--ticked {
  visibility: hidden;
}
